@font-face {
    font-family: headFont;
    src: url(rossans.otf);
}
.body{
    position: sticky;
    background-color: #fff;
}
#SideNav{
    position: fixed;
    background-color: rgb(17, 17, 17);
        text-align:center;
        width: 60px;
        top: 0px;
        left: 0;
        height:40px;
        border-style: inset;
        visibility: hidden;      
}

#Menu{
    background-color: #111;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
     font-size: 40px;
     height: 50px;
     width: 60px;
}
.OptionsTabs{
    visibility:hidden;
    position: sticky;
    font-size: 45px;
   float: left;
   background-color: #111;
   color: #fff;
}
#headColor{
    position: fixed;
    top: 0;
    left: 0;
    font-size: 50px;
    text-align: center;
    background-color: #fff;
    font-family: headFont;
    width: 100%;
    height:190px;
    padding: 10px;
    border-radius: 10px;
    color:rgb(0, 0, 0);
}
#ContactSection{
    position: absolute;    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: black;
   color:#fff; 
    text-align: center;
    font-size: 30px;
}
.Cpic{
    width: 300px;
    height: 300px;
}
#logoPic{
    visibility: visible;
    height: 90px;
    width: 90px;
}

@media (max-width: 600px) {
    .Cpic{
         width: 400px;
         height: 400px;
    }
    #headColor{
        font-size: 25px;
        height: 100px;
    }
    #logoPic{
        height: 60px;
        width: 60px;
    }
    #ContactSection{
        bottom: 0;
         height: 200px;
        font-size: 18px;
        position: fixedoc;
    }
}
